body{
    background: url("../images/background.jpg");
    background-size: cover;
}

.thumbnail{
    height: 500px;
}
.banner{
    background: url("../images/banner.jpg");
    background-size: cover;
}
.board{
    height: 430px;
}
h1{
    text-align: center;
    color: white;
}
p.description{
    text-align: justify;
    line-height: 2;
}
div.description{
    text-align: center;
}