<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>Добро пожаловать</title>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#index-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Эмблема</a>
            </div>

            <div class="collapse navbar-collapse" id="index-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Главная</a></li>
                    <li><a href="#description">О нас</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Этажи<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Этаж 1</a></li>
                            <li><a href="#">Этаж 2</a></li>
                            <li><a href="#">Этаж 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            <h1>Hostel system</h1>
        </div>
        <div class="row">
            <div class="col col-xs-12 col-md-6">
                <div class="thumbnail banner">
                    <div class="caption">

                    </div>
                </div>
            </div>
            <div class="col col-xs-12 col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="board">
                            <div class="alert alert-info">Эй, чуваки, го бухать!</div>
                            <div class="alert alert-info">Опять тубик.</div>
                            <div class="alert alert-info">Кто на гитаре среди ночи играет!?... Го со мной!</div>
                            <div class="alert alert-info">Опять трионал отключил инет!</div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Оставить объявление <span class="caret"></span></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Для всех</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Для зарегистрированных пользователей</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-0 col-md-3">
            </div>
            <div class="col col-xs-12 col-md-6">
                <div class="thumbnail description" id="description">
                    <div class="caption">
                        <h2>О нас</h2>
                        <p class="description">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in
                            culpa qui officia deserunt
                            mollit anim id est laborum.Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in
                            culpa qui officia deserunt
                            mollit anim id est laborum.</p>
                        <br>
                        <button type="button" class="btn btn-primary btn-lg">Регистрация</button>
                        </div>
                    </div>
            </div>
            <div class="col col-xs-0 col-md-3">
            </div>
        </div>
    </div>
    <div class="container">
        <p class="text-muted">&copy; NURE 2016</p>
    </div>
</body>
<script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</html>