body{
    background: url("../images/background.jpg");
    background-size: cover;
}

.thumbnail{
    height: 300px;
}
.banner{
    background: url("../images/banner.jpg");
    background-size: cover;
}
.board{
    height: 230px;
    overflow: auto;
    margin-bottom: 5px;
}
h1,h2,h3{
    text-align: center;
    color: white;
}
p.description{
    height: auto;
    text-align: justify;
    line-height: 2;
    color: white;
}
div.description{
    height: auto;
    background: url("../images/background.jpg");
    text-align: center;
    margin-top: 20px;
}
.row.about{
    height: 500px;
}
.modal-footer{
    text-align: center;
}
.input-group{
    margin-top:5px;
    margin-bottom: 5px;
}

.room{
    margin-bottom: 10px!important;
}
.roomList{
    height: 300px;
}
.floorSchema{
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}
.inputs{
    margin-top: 20px;
    margin-bottom: 20px;
}
#signup-form span{
    min-width: 40px;
}