body{
    background: url("../images/background.jpg");
    background-size: cover;
}

.thumbnail{
    height: 300px;
}
.banner{
    background: url("../images/banner.jpg");
    background-size: cover;
}
.board{
    height: 230px;
    overflow: auto;
    margin-bottom: 5px;
}
h1,h2,h3{
    text-align: center;
    color: white;
}
p.description{
    height: auto;
    text-align: justify;
    line-height: 2;
    color: white;
}
div.description{
    min-height: 250px;
    overflow-y: auto;
    background: url("../images/background.jpg");
    text-align: center;
    margin-top: 20px;
}
.row.about{
    height: 500px;
}
.modal-footer{
    text-align: center;
}
.input-group{
    margin-top:5px;
    margin-bottom: 5px;
}

.room{
    margin-bottom: 10px!important;
}
.roomList{
    height: 300px;
    min-height: 300px;
    background-color: white;
    border-radius: 5px;
}
.floorSchema{
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}
.inputs{
    margin-top: 20px;
    margin-bottom: 20px;
}
form span{
    min-width: 40px;
}
/*.roomMemberItem{
    cursor: pointer;
}*/
.nav-tabs li a{
    font-weight: bold;
}

.studentList{
    overflow: auto;
    max-height: 330px;
    margin-top: 20px;
}


.interaction{
    margin-top: 7px;
    margin-bottom: 7px;
}

.new-post{
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header{
    margin-bottom: 20px;
}

.post{
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 3px;
}
.posts .post .info{
    color: #aaa;
    font-style: italic;
}

.places{
    color: white;
    text-decoration: underline;
}

img{
    width: 800px !important;
    height: 400px !important;

}